* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* Navbar */
nav {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  /* border: 1px solid; */
}

.navbar-brand h1 {
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  /* border: 1px solid; */
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  font-size: 16px;
  font-weight: 300;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffd700; /* Change color on hover */
}

/* Navbar Responsive */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
    /* width: 100%; */
  }

  .navbar-brand h1 {
    margin-left: 0;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 10px 0;
  }
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
  font-weight: 300;
}

footer a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 15px;
}

.footer__separator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
}

.footer__social__separator a {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 5px;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

