/* Header */
header {
  margin-top: 10px;
}

.header__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__heading h1 {
  font-size: 32px;
  font-weight: 600;
}

.header__heading h6 {
  font-size: 17px;
  font-weight: 400;
}

/* News Filter */
#filter-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#keyword-input,
#date-input {
  width: 25%;
  padding: 8px;
  box-sizing: border-box;
  margin-right: 10px;
}

#filter-btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

/* News Content */
.news-container {
  position: relative;
}

.loading-news, .error-news {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination button {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background-color: #45a049;
}

.pagination button:hover:not(.active) {
  background-color: #45a049;
}

.news-outer-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid; */
}

.news-inner-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  /* border: 1px solid; */
}

.news-item {
  width: 300px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.news-item img {
  width: 100%;
  height: 250px;
}

.news-details {
  padding: 15px;
}

.highlight {
  color: yellow;
}

.news-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.news-details span {
  font-weight: 600;
}

.news-author,
.news-date {
  font-size: 0.8rem;
  font-weight: 300;
  color: #555;
}

.news-date {
  margin-bottom: 20px;
}

.news-description {
  font-size: 0.9rem;
  color: #333;
}

/* News Content Responsive */
@media (max-width: 1512px) {
  .news-inner-container {
    justify-content: space-evenly;
  }
}

@media (max-width: 1132px) {
  .news-inner-container {
    justify-content: center;
  }
}

/* NewsModal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  max-width: 90%;
  width: 500px; /* Adjust width as needed */
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  padding: 20px;
  text-align: left;
}

.modal-content img {
  width: 100%;
  max-height: 300px; /* Adjust height as needed */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.modal-content h2 {
  margin-bottom: 16px;
}

.modal-content p {
  margin-bottom: 12px;
}

.modal-content button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #45a049;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .modal-content {
    max-width: 95%;
    width: 90%;
  }

  .modal-content img {
    max-height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .modal-content {
    max-width: 100%;
    width: 100%;
  }

  .modal-content img {
    max-height: 200px;
  }
}
