/* Header */
.header__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__heading h1 {
  font-size: 32px;
  font-weight: 600;
}

.header__heading h6 {
  font-size: 17px;
  font-weight: 400;
}

/* News Filter */
#filter-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#keyword-input,
#date-input {
  width: 25%;
  padding: 8px;
  box-sizing: border-box;
  margin-right: 10px;
}

#filter-btn {
  padding: 8px 15px;
  cursor: pointer;
}

/* News Content */
.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-item {
  width: 300px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.news-item img {
  width: 100%;
  height: 250px;
}

.news-details {
  padding: 15px;
}

.news-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.news-author {
  font-size: 0.8rem;
  color: #555;
}

.news-description {
  font-size: 0.9rem;
  color: #333;
}
